<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Abronal Internship Portal</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/font/remixicon.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/x-icon" href="https://abronal.com/website/img/favicon.png" />
</head>
<body>
     <main role="main" class="">
        @RenderBody()
    </main>

     <footer class="text-center py-3 self-end">
        <div>
            <p>&copy; 2025 - Abronal Technologies - <a asp-area="" asp-controller="home" asp-action="terms" class="underline font-bold hover:underline-offset-4">Terms</a></p>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>