@using Microsoft.AspNetCore.Identity
@inject SignInManager<Users> signInManager

<ul>
    @if (signInManager.IsSignedIn(User))
    {
        <li>
            <form asp-area="" asp-controller="Auth" asp-action="Logout" method="post" class="flex items-center">
                @Html.AntiForgeryToken()
                <button type="submit" class="text-lg font-medium hover:opacity-75 transition-all ease-in duration-300">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a asp-area="" asp-controller="Auth" asp-action="Login" class="text-lg font-medium hover:opacity-75 transition-all ease-in duration-300">Log in</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Auth" asp-action="Register" class="text-lg font-medium hover:opacity-75 transition-all ease-in duration-300">Sign Up</a>
        </li>
    }
</ul>