@{
    ViewData["Title"] = "Home";
}

<div class="flex flex-col">
    <h1>Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
