@import "tailwindcss";

html {
    scroll-behavior: smooth;
}
:root {
    --tg-heading-font-weight: 700;
    --tg-body-line-height: 1.62;
    --tg-heading-line-height: 1.2;
    --tg-text-transform: capitalize;
}
@theme {
    --text-base: 16px;
    --font-default-font: 'Plus Jakarta Sans', sans-serif;
    --font-heading-font-family: 'Urbanist', sans-serif;
    --color-primary: #248dcd;
    --color-secondary: #0f1d41;
    --color-body-font: #334770;
    --color-heading-font: #00194C;
    --color-paragraph: #334770;
    --color-section-background: #F8FAFF;
    --color-blue: #f7931e;
    --color-metallic-blue: #324B7D;
    --color-cornflower-blue: #B3CCFF;
    --color-steel-blue: #B6C1DB;
    --color-lavender: #E6EEFF;
    --color-indigo: #6610f2;
    --color-purple: #6f42c1;
    --color-pink: #FF005C;
    --color-red: #FF3C3C;
    --color-orange: #fd7e14;
    --color-yellow: #FFB930;
    --color-green: #219653;
    --color-teal: #20c997;
    --color-cyan: #0dcaf0;
    --color-white: #ffffff;
    --color-black: #000;
    --color-gray: #F1F4FC;
    --color-gray-two: #F1F5FF;
    --color-gray-three: #96A1B8;
    --color-gray-four: #667594;
    --color-border-color: #E1E5EE;
    --color-facebook: #3b5998;
    --color-twitter: #00acee;
    --color-linkedin: #1976d2;
    --color-pinterest: #3b5998;
    --color-youtube: #c4302b;
    --color-skype: #00aff0;
}
body {
    @apply font-default-font text-base font-medium capitalize text-secondary;
}